#loader_{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    animation: loader 3s forwards;
    z-index: 1000;
}

.stove{
    width: 5em;
    height: 10px;
    margin: auto;
    margin-top: 15em;
    background-color: black;
    border: 2px solid black;
    border-radius: 0 0 50% 50%;
}
.stove1{
    margin-left: 14.5em;
    margin-top: -0.8em;
    width: 2.5em;
    height: 5px;
    background-color: black;
    border-radius: 5em 5em 5em 5em;
}
.food{
    margin: auto;
    margin-top: -0.75em;
    width: 5em;
    height: 6px;
    border-radius: 5em 5em 0 0;
    background: linear-gradient(#9356dc,#FF79DA);
}

.shadow{
    margin-left: 9.2em;
    margin-top: 1.9em;
    width: 5em;
    height: 5px;
    background-color: #99E2D0;
    border-radius: 5em 5em 5em 5em;
    animation: shadow 2s linear forwards;
}

@keyframes loader{
    0%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -10;
    }
}

@keyframes shadow{
    0%{
        width: 0;
    }
    100%{
        width: 5em;
    }
}
/* Media queries, breakpoint (tablets et desktop, sup 768px)*/
@media (min-width: 768px) {
    .stove{
        margin-top: 21em;
    }
    .stove1{
        margin-left: 26.8em;
        height: 6px;
    }
    .food{
        margin-top: -0.8em;
    }
    .shadow{
        margin-left: 21.5em;
    }
}
/* Media queries, breakpoint (desktop, sup 768px)*/
@media (min-width: 1024px) {
    .stove{
        margin-top: 21em;
        width: 7.5em;
    }
    .stove1{
        margin-left: 49em;
        height: 6px;
    }
    .food{
        width: 7.5em;
        margin-top: -0.8em;
    }
    .shadow{
        margin-left: 42.3em;
    }
}
