/* Media queries, breakpoint (tablets et desktop, sup 768px)*/
@media (min-width: 768px){
    body{
        max-width: 1440px;
    }
    /* Header */
    .sec-logo--log {
        height: 6em;
        filter: none;
    }
    .sec-logo--log_l {
        width: 12.5em;
        margin: auto;
    }
    .sec-loca {
        filter: none;
        width: 90em;
    }
    .sec-logo--arrow, .sec-logo--arrow a {
        margin: 2em -2.4em 0 0.8em;
    }
    .title1 {
        font-size: 2.5em;
        padding-top: 0.7em;
        margin-top: 1.2em;
    }
    .sec-exp {
        height: 15em;
    }

    /* Fonctionnement INDEX */
    .title3{
        margin-left: 7.5em;
    }
    .sect-ligne{
        display: flex;
        flex-direction: row;
    } 
    .choice {
        margin-left: 11.2em;
        margin-bottom: -0.9em;
        margin-right: 10.4em;
    }
    .choice-nub {
        margin-left: 0;
    }
    
    /* Restaurants INDEX */
    .resto{
        height: 45em;
    }
    .resto-card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 56.2em;
        height: 34.5em;
        margin-left: 11.5em;
        padding-left: 11.2em;
        flex-wrap: wrap;
    }
    .resto-card--ca {
        height: 15.9em;
        width: 30.6em;
        margin-left: -11.5em;
        margin-bottom: 3em;
    }
    .resto-card--ca_img-food{
        height: 11em;
        width: 39.6em;
    }
    .resto-card--ca_like{
        margin-top: -6.6em;
    }
    
    /* Animation Coeur INDEX */
    .heart-like{
        margin-top: -6.3em;
    }
    .icons{
        margin-top: 0.5em;
    }
    .icon-like{
        margin-top: 0.05em;
    }
    .heart-like:hover .icon-like{
        opacity: 1;
    }

    /* Main MENU */
    .resto-pic img {
        width: 1440px;
        height: 23.9em;
    }
    h1{
        font-size: 1.8em;
        margin-left: 13em;
    }
    .main{
        height: 76.3em;
        width: 65.9em;
        top: 20em;
        margin: auto;
    }
    .main-card--like a{
        float: left;
        margin-left: 27.5em;
        margin-top: -2.3em;
    }
    .main-menu{
        margin-left: 13.2em;
        margin-top: 3em;
        &--plats{
           width: 634px; 
        }
    }
    .main-button{
        margin-top: 3.5em;
    }
    
    /* Main MENU La note enchantée */
    .main1{
        height: 81.5em;
        width: 65.9em;
        top: 20em;
        margin: auto;
    }

    /* Animation Coeur MENU */
    .heart-like1{
        margin-right: 15em;
        margin-top: -2.8em;
    }
    .heart-like1:hover .icon-like1{
        opacity: 1;
    }

    /* Animation Plats */
    .main-menu--plats:hover .anim1{
        animation: animate 0.25s linear forwards;
    }
    .main-menu--plats:active .trim{
        max-width: 300px;
    }

    /* Animation Bouton Explorer et Commander */
    .btn-link:hover{
        opacity: 0.9;
        filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.4));
    }
    .btn-link--style{
        margin-top: 3.5em;
    }

    /* Footer INDEX / MENU 1 */
    footer{
        width: 1440px;
        height: 7.1em;
        top: 20em;
    }
    .foot-article{
        margin-left: 0;
        float: right;
    }
    .foot-article--logo{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 3.3em;
        margin-right: 4em;
    }
    ul{
        margin-top: -3em;
        display: flex;
        flex-direction: row;
        margin-right: 14.3em;
    }
    li{
        margin-right: 1.5em;
    }   
    /* Footer La note enchantée */
    .one{
        top: 20em;
    }
}



