@charset "UTF-8";
/* Media queries, breakpoint (tablet, sup 768px)*/
@media (min-width: 768px) {
  .sec-logo--log {
    filter: none;
  }
  .sec-logo--log_l {
    width: 12.5em;
    margin: auto;
  }
  .sec-loca {
    filter: none;
    width: 100%;
  }
  .sec-exp {
    height: 18em;
  }
  .title1 {
    font-size: 1.8em;
    margin-top: 1em;
    padding-top: 2em;
  }

  /* Fonctionnement */ 
  .title-3{
    margin-left: 10%;
  }
  .choice {
    margin-left: 8%;
  }
  .choice-link--type {
    width: 65%;
  }

  /* Card Restaurant */
  .title3{
    margin-left: 10%;
  }
  .resto {
    height: 45em;
  }
  .resto-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
  }
  .resto-card--ca {
    height: 15.9em;
    width: 100%;
    margin-bottom: 3em;
  }
  .resto-card--ca_img-food {
    height: 11em;
    width: 37.6%;
    margin-right: 2em;
  }
  .card{
    width: 47%;
  }

  /* Animation coeur */
  .heart-like {
    margin-right: 18%;
    margin-top: -2em;
  }

  /* Main MENU */
  .title-resto{
    font-size: 1.7em;
    margin-bottom: 1.6em;
  }
  .resto-pic img {
    min-width: 100%;
  }
  .main {
    height: 76.3em;
    width: 100%;
    top: 13em;
    margin: auto;
  }
  .main-menu {
    width: 39.5em;
    margin: auto;
  }
  .main-menu--plats {
    width: 39.5em;
  }
  
  /* Main MENU La note enchantée */
  .main1 {
    height: 81em;
    width: 100%;
    top: 14em;
    margin: auto;
  }

  /* Animation Coeur */ 
  .heart-like1 {
    margin-right: 9em;
  }
  .icon-notlike1{
    margin-top: 0.85em;
  }
  .icon-like1{
    margin-top: 0.38em;
  }

  /* Footer INDEX / MENU 1 */
  footer {
    height: 7.1em;
    top: 7.5em;
  }
  .foot-article {
    float: right;
  }
  .foot-article--logo {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3.3em;
    margin-right: 2em;
  }
  ul {
    margin-top: -3em;
    display: flex;
    flex-direction: row;
    margin-right: 9em;
  }
  li {
    margin-right: 1em;
  }
  /* Footer La note enchantée */
  .one {
    top: 8.5em;
  }
}


/* Media queries, breakpoint (desktop, sup 1024px)*/
@media (min-width: 1024px){  
  /* Header */
  .sec-logo--log {
    height: 6em;
    filter: none;
  }
  .sec-logo--log_l {
    width: 12.5em;
    margin: auto;
  }
  .sec-loca {
    filter: none;
    width: 100%;
  }
  .sec-loca--loca{
    margin: auto;
  }
  .sec-logo--arrow, .sec-logo--arrow a {
    margin: 2em -2.4em 0 0.8em;
  }
  .title1 {
    font-size: 2.5em;
    padding-top: 1.5em;
    margin-top: 1.2em;
  }
  .sec-exp {
    height: 18em;
    width: 100%;
  }
  /* Fonctionnement INDEX */
  .Fonction{
    width: 80%;
    margin: auto;
  }
  .title-3{
    margin-left: 0%;
  }
  .sect-ligne {
    margin-left: -11%;
    display: flex;
    flex-direction: row;
  }
  .choice{
    margin-right: 19%;
  }
  .choice-link--type {
    width: 17em;
  }
  
  /* Restaurants INDEX */
  .title3{
    margin-left: 10%;
  }
  .resto-card {
    width: 80%;
    margin: auto;
  }
  .card{
    width: 47%;
  }
  .resto-card--ca_img-food {
    width: 37.6%;
  }
  
  /* Animation Coeur INDEX */
  .heart-like {
    margin-top: -6.3em;
    margin-right: 4em;
  }
  .icons {
    margin-top: 0.5em;
  }
  .icon-like {
    margin-top: 0.05em;
  }
  .heart-like:hover .icon-like {
    opacity: 1;
  }

  /* Main MENU */
  .resto-pic img {
    width: 100%;
    height: 23.9em;
  }
  .title-resto {
    font-size: 1.8em;
    margin: auto;
  }
  .main {
    height: 76.3em;
    width: 64em;
    top: 20em;
  }
  .main-menu {
    margin: auto;
    width: 39.5em;
    margin-top: 3em;
  }
  .main-menu--plats {
    width: 39.5em;
  }
  
  /* Main MENU La note enchantée */
  .main1 {
    height: 81.5em;
    width: 64em;
    top: 20em;
  }

  /* Animation Coeur MENU */
  .heart-like1 {
    margin-right: 10em;
    margin-top: -2.8em;
  }
  .heart-like1:hover .icon-like1 {
    opacity: 1;
  }

  /* Animation Plats */
  .main-menu--plats:hover .anim1 {
    animation: animate 0.3s linear forwards;
  }
  .main-menu--plats:hover .fa-circle-check {
    animation: check 0.25s linear forwards;
  }

  /* Animation Bouton Explorer et Commander */
  .btn-link:hover {
    opacity: 0.9;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.4));
  }
  .btn-link--style {
    margin-top: 3.5em;
  }
  
  /* Footer INDEX / MENU 1 */
  footer {
    width: 100%;
    height: 7.1em;
    top: 20em;
  }
  .foot-article {
    margin-left: 0;
    float: right;
  }
  .foot-article--logo {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3.3em;
  }
  ul {
    margin-top: -3em;
    display: flex;
    flex-direction: row;
  }
  /* Footer La note enchantée */
  .one {
    top: 20em;
  }
}
/*# sourceMappingURL=media.css.map */