/* Variables */
a {
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  font-family: "roboto";
}

/* Header */
.sec-logo--log {
  height: 4em;
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: row;
  background-color: white;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.2));
}
.sec-logo--log_l {
  width: 11em;
  display: flex;
  margin: auto;
  padding: 1.1em;
}

.sec-loca {
  height: 3.1em;
  width: 100%;
  position: absolute;
  background-color: #EAEAEA;
  display: flex;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.2));
}
.sec-loca--loca {
  margin: auto;
  display: flex;
  flex-direction: row;
}
.sec-loca--loca_icon {
  font-size: 1em;
  margin-top: 1.2em;
  margin-right: 1.4em;
  color: #353535;
}
.sec-loca--loca_p-l {
  font-size: 1.1em;
}

.sec-exp {
  margin-top: 0;
  height: 17em;
  background-color: #F2F2F2;
}

.title1 {
  font-size: 1.5em;
  margin: 2.1em 3em 0 3em;
  padding-top: 1.5em;
  text-align: center;
}

.title2 {
  font-size: 1.1em;
  font-weight: lighter;
  text-align: center;
}

/* Animation bouton Explorer et Commander */
.btn {
  height: 3.1em;
  width: 13.6em;
  margin: auto;
  box-sizing: border-box;
}
.btn-link {
  text-decoration: none;
}
.btn-link--style {
  height: 3.1em;
  border-radius: 2em;
  margin-top: 2.2em;
  background: linear-gradient(#FF79DA, #9356dc);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));
}
.btn-link--style_2 {
  margin-left: 1.5em;
  padding-top: 1em;
  font-size: 1em;
  color: white;
}

.btn-link--style1 {
  height: 3.1em;
  border-radius: 2em;
  margin-top: 2.2em;
  background: linear-gradient(#FF79DA, #9356dc);
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));
}

.btn-link:active {
  opacity: 0.9;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.4));
}

/* Fonctionnement */
.title-3 {
  font-size: 1.5em;
  margin-left: 8%;
  margin-top: 2em;
}
.Fonction{
  width: 95%;
}

.choice {
  display: flex;
  margin: 0.4em;
  margin-bottom: 2.5em;
  box-sizing: border-box;
  margin-left: 5%;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.1));
}
.choice-nub {
  height: 1.5em;
  width: 1.5em;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  margin-left: 1em;
  margin-top: 1.5em;
  position: relative;
  z-index: 1;
}
.choice-nub--ch {
  font-size: 0.9em;
  margin-left: 0.5em;
  margin-top: 0.3em;
}
.choice-link {
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  color: black;
}
.choice-link--type {
  height: 4.5em;
  width: 85%;
  border-radius: 1.3em;
  background-color: #F2F2F2;
  position: absolute;
  margin-left: -0.8em;
}
.choice-link--type_icon {
  font-size: 1.2em;
  color: #7E7E7E;
  margin-top: 1.4em;
  margin-left: 2em;
  margin-right: 1em;
}

.fa-store {
  color: #9356DC;
}

/* Restaurants */
.title3{
  font-size: 1.5em;
  margin-left: 8%;
  margin-top: 2em;
}
.resto {
  margin-top: 5.7em;
  background-color: #F2F2F2;
  padding-top: 0.2em;
  height: 76em;
  box-sizing: border-box;
}
.resto-card {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  height: 15.6em;
  width: 90%;
}
.resto-card--ca {
  margin-bottom: 1.1em;
  background-color: white;
  border-radius: 15px;
}
.resto-card--ca_img-food {
  height: 10.9em;
  width: 90%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.resto-card--ca_badge {
  height: 1.8em;
  width: 5em;
  background-color: #99E2D0;
  position: relative;
  z-index: 1;
  float: right;
  border-radius: 2px;
  margin-top: 0.7em;
  margin-right: 0.7em;
  color: #008766;
}
.resto-card--ca_badge-new {
  margin: auto;
  margin-left: 0.5em;
  margin-top: 0.3em;
}
.resto-card--ca_content {
  position: relative;
  z-index: 2;
  padding-top: 10.5em;
}
.resto-card--ca_content-name {
  font-size: 1.1em;
  color: black;
  margin-left: 1em;
}
.resto-card--ca_content-name2 {
  font-size: 1em;
  font-weight: lighter;
  margin-top: -1.3em;
  color: black;
  margin-left: 1em;
  padding-bottom: 1em;
}

/* Animation J'AIME */
.heart-like {
  color: black;
  float: right;
  margin-right: 3.2em;
}

.like, .icons {
  position: absolute;
  z-index: 3;
}

.icons {
  font-size: 1.6em;
  cursor: pointer;
}

.icon-notlike {
  margin-top: -2.2em;
  font-size: 1.6em;
  transition: 0.5s ease-in-out;
}

.icon-like {
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(#9356dc, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  margin-top: -2.65em;
  transition: 0.5s ease-in-out;
}

.heart-like:active .icon-like {
  opacity: 1;
}

.heart-like:active .icon-notlike {
  opacity: 0;
}

[type=checkbox]:not(:checked), [type=checkbox]:checked {
  opacity: 0.01;
}

[type=checkbox]:checked ~ .icon-like {
  opacity: 1;
}

[type=checkbox]:checked ~ .icon-notlike {
  opacity: 0;
}

/* Footer */
footer {
  background-color: #353535;
  height: 11.7em;
  width: 100%;
}

.foot-article {
  margin-left: 1.5em;
}
.foot-article--logo {
  font-size: 1.1em;
  color: white;
  font-family: "shrikhand", "cursive";
}

ul {
  list-style-type: none;
  color: white;
  margin-top: -0.3em;
  margin-left: -2.5em;
}

li a {
  font-size: 1em;
  color: white;
}

li {
  padding-top: 0.4em;
  font-weight: 300;
}

.icon-esp {
  margin-top: -1.2em;
  margin-left: 1.6em;
  font-weight: 400;
}

.space {
  margin-top: 0.1em;
}/*# sourceMappingURL=style.css.map */